fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy[asyncio]
asyncpg
pgvector
alembic
supabase
python-jose[cryptography]
pre-commit
opencv-python-headless
google-cloud-vision
pytest
llama-index-core
llama-index-embeddings-fastembed
fastembed
